/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* CSS VAriables */
:root{
    --navbar-height:59px
}

/* NAvigation bar  */
#navbar{
    display:flex;
    align-items: center;
    position: sticky;
}
#navbar::before{
    content: "";
    /* background-color: black; */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* NAvigation Bar: logo & Image  */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 5px;
}
/* Navigation Bar: list styling */

#navbar ul{
    display: flex;
    font-family: baloo bhai, cursive;
}

#navbar ul li{  
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    color: black;

    text-decoration: none;
}
#navbar ul li a:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(3, 3, 3) ;
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("images/sabji.jpg") no-repeat center;
    background-size: cover;
}

#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'bree serif, serif';
}

/* Serivices section */

#services{
margin: 34px;
display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 23px;
    background: #f2f2f2;

}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'bree serif, serif';
}



/* Client classes */
#client-section{
    height: 344px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url("images/bg4.webp") no-repeat center;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-items{
    padding: 34px;
}
#clients img{
    height: 124px;

}
/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url("images/contactus.jpg");
    width: 100%;
    height: 100%;
    opacity: 0.3;
    
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}   
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'bree serif, serif';
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: baloo bhai, cursive;
    font-size: 3.5rem;
    padding: 12px;
    text-align: center;

}
.h-secondary{                   
    font-family: baloo bhai, cursive;
    font-size: 2.23rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 18px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
} 
.centre{
    text-align: center;
}
.ss{
    font-size: 2.5rem;
}



